node_packages/
node_modules/
coverage/
.idea/
.history/
.vscode/
.parcel-cache/
.playwright-cli/
.playwright-mcp/
.claude/
.yarn/
.air/
dist/
dist_types/
yarn.lock
.DS_Store
package-lock.json
WARP.md
.yarnrc.yml
.vitepress/
